@if (state=='list') {
<button (click)="add()" class="primary">افزودن</button>
<table>
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>کد ملی</th>
            <th>شماره تماس</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <td>{{item.id}}</td>

            <td>{{item.name}}</td>
            <td>{{item.family}}</td>
            <td>{{item.code}}</td>
            <td>{{item.phone}}</td>
            <td>
                <button class="primary" (click)="edit(item)">ویرایش</button>
                <button class="primary" (click)="remove(item)">حذف</button>

            </td>

        </tr>
        }

    </tbody>
</table>
}

@else {
    @if(action=='remove'){
        <div class="alert">
      آیا از حذف این کتاب اطمینان دارید؟
    </div>

    }
<form (ngSubmit)="save()">
    <div>
        <input [class.makhfi]="action=='edit'" [disabled]="action=='edit' || action=='remove'"[(ngModel)]="item.id"[(ngModel)]="item.id" id="id" name="id" type="number" placeholder="شناسه">
    </div>
    <div>
        <input  [disabled]="action=='remove'" [(ngModel)]="item.name" id="name" name="name" type="text" placeholder="نام">
    </div>
    <div>
        <input  [disabled]="action=='remove'" [(ngModel)]="item.family" id="family" name="family" type="text" placeholder="نام خانوادگی">

    </div>
    <div>
        <input  [disabled]="action=='remove'" [(ngModel)]="item.code" id="code" name="code" type="text" placeholder="کد ملی">
    </div>
    <div>
        <input  [disabled]="action=='remove'" [(ngModel)]="item.phone" id="phone" name="phone" type="number" placeholder="شماره تماس">
    </div>
    <div>
        <button class="primary" type="submit">تایید</button>
        <button (click)="cansel()" class="primary" type="button">انصراف</button>

    </div>
</form>
}