.sidebar{
    background-color: rgba(112,146,243,1);
background: linear-gradient(286deg,rgba(288,243,97,0.9) 0%, rgba(112,146,243,1) 69%);
background: -moz-linear-gradient(164deg,rgba(288,243,97,0.9) 0%, rgba(112,146,243,1) 69%);
background: -webkit-linear-gradient(164deg,rgba(288,243,97,0.9) 0%, rgba(112,146,243,1) 69%);
background: -o-linear-gradient(164deg,rgba(288,243,97,0.9) 0%, rgba(112,146,243,1) 69%);
background: -ms-linear-gradient(164deg,rgba(288,243,97,0.9) 0%, rgba(112,146,243,1) 69%);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr="rgba(288,243,97,0.9)", endColorstr="rgba(112,146,243,1)");
background-repeat: no-repeat;
background-attachment: fixed;
height: 1%;
    a{
        display: block;
        color:black;
        padding: 0.2em 0.5em;
        text-decoration:  none;
        
    }
}